<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link href="{{ url_for('static', filename='stylesheets/bootstrap-theme.min.css.map') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='stylesheets/bootstrap-theme.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css.map') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='javascript/jquery-3.1.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='javascript/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='javascript/ajax.js')}}"></script>
</head>

<body>

  <h1 id="title">How Many Tickets Would You Like?</h1>

  <form action="/" method="post" id="ticketsform" name="ticketsform">
    <input id="numofticks" name="numofticks" type="number" />
    <button id="btnsubmit" name="btnsubmit" type="submit">Submit</button>
  </form><br />

  <div id="numbererror">
    {{numerror}}
  </div>
  
  <div id="ticketcontain">
    <ol>
      {% for x in boards %}
        <li>
          <ul>
            {% for x in numbers%}
              <li>{{x}}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ol>
  </div>

</body>
</html>
