<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Powerball</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='javascript/jquery-3.1.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='javascript/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='javascript/ajax.js')}}"></script>
</head>

<body>
  <div class="modal {{ lowfunds }}">
    <div class="modal-dialog modal-med">
      <div id="modalcontent" class="modal-content">
        <div class="modal-header">
          <h3>Not Enough Cash..</h3>
        </div>
        <div class="modal-body">
          <div>
            <h4>Price: </h4><h6>${{ totalprice }}.00</h6><br />
            <h4>Your Cash: </h4><h6 id="negative">${{ cash }}.00</h6><br />
            <h4>Max Boards: </h4><h6>{{ maxstr }}</h6><br />
          </div>
          <div>
            <h4>Would you like to buy {{ maxstr }} boards for ${{ coststr }}.00?</h4>
          </div>
        </div>
        <div class="modal-footer">
          <form action="/powerball" method="post">
            <input type="text" name="purchasemax" value="{{ maxstr }}" hidden="hidden" />
            <input type="submit" name="purchase" value="Cancel" class="btn btn-alert" />
            <input type="submit" name="purchase" value="Purchase" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('powerball') }}">Powerball</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Username</a></li>
        <li><a href="#">${{ cash }}.00</a></li>
      </ul>
    </div>
  </nav>

  <div id="formdiv">
    <form id="purchaseform" action="/powerball" method="post" name="ticketsform">
      <h3>Purchase Tickets:</h3>
      <input id="numofticks" name="numofticks" type="number" />
      <div id="raddiv">
        <input id="smradio" name="tickradio" class="tickradio" type="radio" value="easy" checked="true" /> $4.00<br />
        <input id="medradio" name="tickradio" class="tickradio" type="radio" value="med" /> $20.00<br />
        <input id="lgradio" name="tickradio" class="tickradio" type="radio" value="hard" /> $50.00<br />
      </div>
      <button id="btnsubmit" name="btnsubmit" type="submit" class="btn btn-default">Purchase</button>
    </form>
    <div id="winningnumbers">
      <h3>Winning Numbers</h3>
      <ul>
        <li>{{ winningnumbers[0] }}</li>
        <li>{{ winningnumbers[1] }}</li>
        <li>{{ winningnumbers[2] }}</li>
        <li>{{ winningnumbers[3] }}</li>
        <li>{{ winningnumbers[4] }}</li>
      </ul>
    </div>
  </div>

  <div id="boardsdiv">
    <h3 id="tickets">Tickets</h3>
      <ol class="ol">
        {% for row in boards %}
          <li class="li">
            <ul class="ul">
              {% for col in row %}
                <li>{{ col }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ol>
  </div>

  <div id="winstats">
    <h3 id="winningstats">Stats</h3>
    <table class="table table-bordered">
      <tr>
        <td>Total Price:</td>
        <td></td>
        <td>${{ totalprice }}.00</td>
      </tr>
      <tr>
        <td>Net:</td>
        <td></td>
        <td id="{{ netcolor }}">${{ net }}.00</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Board #</th>
        <th># of Matches</th>
        <th>Prize</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% for row in winstats %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td id="positive">{{ row[2] }}</td>
        </tr>
      {% endfor %}
    </table>
    <br />
  </div>
</body>

</html>
